<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chenlei1_iri.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.OnTouchActivity" />
        <activity android:name=".activity.RxImageLoadActivity" />
        <activity android:name=".activity.RxJavaTransformActivity" />
        <activity android:name=".activity.ButterKnifeActivity" />
        <activity android:name=".activity.SVGActivity" />
        <activity android:name=".activity.NumberPickerActivity"/>
        <activity android:name=".activity.LocalServiceTestActivity"/>
        <activity android:name=".activity.RemoteServiceTestActivity"/>

        <service android:name=".binder.LocalService"/>
        <service android:name=".binder.RemoteService" android:process=":remote"/>
    </application>

</manifest>